In [1]:
#analysis
import numpy as np
import pandas as pd

#visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('whitegrid')

In [2]:
from scipy.linalg import fractional_matrix_power

In [3]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', 
                 names=['Class', 'Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols', 'Flavanoids', 
                        'Nonflavanoid phenols', 'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 
                        'Proline '])
df.head()

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

#### Menghitung probabilitas prior

In [4]:
n_class1 = df['Class'][df['Class'] == 1].count()
n_class2 = df['Class'][df['Class'] == 2].count()
n_class3 = df['Class'][df['Class'] == 3].count()

total_class = df['Class'].count()

In [5]:
P_class1 = n_class1 / total_class
P_class2 = n_class2 / total_class
P_class3 = n_class3 / total_class

In [6]:
print('Probabilitas prior')
print('Class 1 : ',P_class1)
print('Class 2 : ',P_class2)
print('Class 3 : ',P_class3)

Probabilitas prior
Class 1 :  0.33146067415730335
Class 2 :  0.398876404494382
Class 3 :  0.2696629213483146

#### Mengelompokkan data berdasarkan kelas dan menghitung mean setiap data

In [7]:
meanX1 = df[df['Class'] == 1].groupby('Class', as_index=False).mean().drop('Class', axis=1).values
meanX2 = df[df['Class'] == 2].groupby('Class', as_index=False).mean().drop('Class', axis=1).values
meanX3 = df[df['Class'] == 3].groupby('Class', as_index=False).mean().drop('Class', axis=1).values

In [8]:
X1 = df[df['Class'] == 1].drop('Class', axis = 1).values
X2 = df[df['Class'] == 2].drop('Class', axis = 1).values
X3 = df[df['Class'] == 3].drop('Class', axis = 1).values

In [9]:
X = df.drop('Class', axis=1)

In [10]:
globalMean = X.mean().values

In [11]:
globalMean

array([1.30006180e+01, 2.33634831e+00, 2.36651685e+00, 1.94949438e+01,
       9.97415730e+01, 2.29511236e+00, 2.02926966e+00, 3.61853933e-01,
       1.59089888e+00, 5.05808988e+00, 9.57449438e-01, 2.61168539e+00,
       7.46893258e+02])

In [12]:
meanCorrectedX1 = X1 - globalMean
meanCorrectedX2 = X2 - globalMean
meanCorrectedX3 = X3 - globalMean

In [13]:
covMatX1 = ((meanCorrectedX1.T).dot(meanCorrectedX1)) / len(X1)
covMatX2 = ((meanCorrectedX2.T).dot(meanCorrectedX2)) / len(X2)
covMatX3 = ((meanCorrectedX3.T).dot(meanCorrectedX3)) / len(X3)

In [16]:
import math

In [17]:
def likelihood(y, covMat, meanX):
    pi = np.power(2*np.pi,2)
    detCovMat = np.sqrt(np.absolute(np.linalg.det(covMat)))
    data_mean = y-meanX
    exp = (-0.5*(data_mean.T)).dot(np.linalg.inv(covMat)).dot(data_mean)    
    result = ((1/math.pow(2*phi, 13/2)) * detCovMat * np.exp(exp))
    return result

In [18]:
def posterior(likelihood, prior):
    return likelihood * prior

In [19]:
def result(p1, p2, p3):
    max = p1
    if p2 > max:
        max = p2
        print('Termasuk Class 2')
    if p3 > max:
        max = z
        print('Termasuk Class 3')
        if p2 > p3:
            max = p2
            print('Termasuk Class 2')
    else:
        print('Termasuk Class 1')
    return max